.card-mini {
	position: relative;
	display: inline-block;
	display: flex;
	flex-direction: column;
	border-radius: 0.8rem;
	border: 0.1rem solid #bada55;
	margin: 1rem auto;
	padding: 2rem;
	overflow: hidden;
	text-align: left;
	cursor: pointer;

	@include media-breakpoint-down(md) {
		max-width: 22rem;
	}

	&__svg-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 120%;
		height: 120%;
		z-index: 0;
	}
	&__border {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		background-color: transparent;
		position: relative;
	}
	&.active-card .blob {
		fill: $c-badass;
		transform: translate(23%, 3%) scale(3.75);
	}
	h3 {
		position: relative;
		opacity: 0;
		white-space: nowrap;
		@include transition(all 0.4s);
	}
	&.active-card h3 {
		opacity: 1;
	}
	// &.active-card .bg-overlay {
	// opacity: 0;
	// }
	.blob {
		transform: translate(23%, 32%) scale(0.7);
		fill: $c-badass;
		stroke: $c-pale-black;
		stroke-width: 0.4rem;
		@include transition(all 0.4s);
	}
}
