/***********************************************************************************
 *	RIPPLE EFFECT
 ***********************************************************************************/
.ripple {
	background-position: center;
	@include transition(background 1s);

	&:hover {
		background: $c-badass-light
			radial-gradient(circle, transparent 1%, $c-badass-light 1%) center/15000%;
	}
	&:active {
		background-color: yellow;
		background-size: 100%;
		@include transition(background 0s);
	}
}
/***********************************************************************************
 *	3D BOX SHADOW*
 ***********************************************************************************/
.box-shadow-3D {
	position: relative;

	&::before,
	&::after {
		@include pseudo;
		z-index: -2;
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width: 300px;
		background: $c-shadow;
		box-shadow: 0 15px 10px $c-shadow;
		@include transform(rotate(-3deg));
	}
	&::after {
		@include transform(rotate(3deg));
		right: 10px;
		left: auto;
	}
}
/***********************************************************************************
 * BORDER EFFECT*
 ***********************************************************************************/
$border-width: 0.2rem;
$t_dur: 0.1s;
$a_dur: 1s;
$border-radius: 2px; // keep below 5px

// highlight styles

.border-effect {
	position: relative;
	border-radius: $border-radius;
	text-align: center;
	cursor: pointer;
	user-select: none;

	&:before,
	&:after {
		content: "";
		width: 0%;
		height: 0%;
		position: absolute;
		visibility: hidden;
		border-radius: $border-radius;
	}

	&:before {
		border-top: $border-width solid $c-badass;
		border-right: $border-width solid $c-badass;
		transition: width $t_dur ease $t_dur * 3, height $t_dur ease $t_dur * 2,
			visibility 0s $t_dur * 4;
		top: 0;
		left: 0;
	}

	&:after {
		border-left: $border-width solid $c-badass;
		border-bottom: $border-width solid $c-badass;
		bottom: 0;
		right: 0;
		transition: width $t_dur ease $t_dur, height $t_dur ease,
			visibility 0s $t_dur * 2;
	}

	&:hover {
		animation: pulse $a_dur ease-out $t_dur * 4;
		color: $c-yin;
		&:before,
		&:after {
			width: 100%;
			height: 100%;
			visibility: visible;
		}

		&:before {
			transition: width $t_dur ease, height $t_dur ease $t_dur;
		}

		&:after {
			transition: width $t_dur ease $t_dur * 2, height $t_dur ease $t_dur * 3,
				visibility 0s $t_dur * 2;
		}
	}
}
/***********************************************************************************
 *	GRADIENT ICONS
 ***********************************************************************************/
.fa-gradient {
	color: $c-yin;
	@include prefix(
		(
			background: linear-gradient(80deg, $c-yang, $c-ruby),
			background-clip: text,
			text-fill-color: transparent,
		),
		webkit ms
	);
	background-clip: border-box;
	@include transition(all 0.25s);

	&:hover,
	&:focus,
	&:active {
		@include prefix(
			(
				filter: brightness(90%) hue-rotate(29deg),
			),
			webkit
		);
	}
}
/***********************************************************************************
 *	SHUTTER OUT - HORIZONTAL EFFECT
 ***********************************************************************************/
.shutter-out-horizontal {
	position: relative;
	@include prefix(
		(
			backface-visibility: hidden,
		),
		webkit
	);
	-moz-osx-font-smoothing: grayscale;
	@include transform(translateZ(0));
	@include transition(color 300ms);

	&::before {
		@include pseudo;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $c-badass;
		@include transform(scaleX(0));
		@include prefix(
			(
				transform-origin: 50%,
			),
			webkit
		);
		@include transition(300ms ease-out);
	}

	&:hover::before {
		@include transform(scaleX(1));
	}
}
/***********************************************************************************
 *	EFEKT Zrezania zo strany
 ***********************************************************************************/
.border-topleft-bottomright {
	position: relative;

	&::before,
	&::after {
		@include pseudo;
		z-index: 100;
		width: 100%;
		height: 100px;
		left: 0;
	}
	&::before {
		background-image: linear-gradient(183deg, white 50%, transparent 0%);
		background-image: linear-gradient(
			to left bottom,
			$c-yang 48%,
			transparent 50%
		);
		top: 0;
	}
	&::after {
		background-image: linear-gradient(3deg, white 50%, transparent 0%);
		background-image: linear-gradient(
			to right top,
			$c-yang 48%,
			transparent 50%
		);
		bottom: 0;
	}
}
.border-leftnarrow-rightwide {
	position: relative;

	&::before,
	&::after {
		@include pseudo;
		z-index: 100;
		width: 100%;
		height: 100px;
		left: 0;
	}
	&::before {
		background-image: linear-gradient(177deg, white 50%, transparent 0%);
		background-image: linear-gradient(
			to right bottom,
			$c-yang 48%,
			transparent 50%
		);
		top: 0;
	}
	&::after {
		background-image: linear-gradient(3deg, white 50%, transparent 0%);
		background-image: linear-gradient(
			to right top,
			$c-yang 48%,
			transparent 50%
		);
		bottom: 0;
	}
}
