/***********************************************
 *	COLORS
 ***********************************************/
$c-yang: #fff;
$c-yin: #000;
$c-rgba-white: rgba(0, 0, 0, 0);
$c-rgba-black: rgba(255, 255, 255, 0);
$c-pale-black: #181616;
$c-badass: #bada55;
$c-badass-light: #bada44;
$c-malachite: #9dd62c;
$c-jade: #468847;
$c-jade-light: #c9f2b8;
$c-amber: #fdba04;
$c-ruby: #e91906;
$c-ruby-light: #f7d0d0;
$c-garnet: #b94a48;
$c-crimson: #ec6663;
$c-citrine: #ff6000;
$c-azurite: #0074bc;

$c-primary-grad: #dce2e8;
$c-secondary-grad: #faffd1;
$c-overlay: rgba(0, 0, 0, .75);
$c-overlay-2: rgba(255, 255, 255, 0.1);
$c-overlay-3: rgba(0, 0, 0, 0.16);
$c-overlay-4: rgba(0, 0, 0, 0.12);
$c-overlay-5: rgba(0,0,0,.5);
$c-overlay-6: rgba(238, 58, 58, .7);
$c-overlay-7: rgba(140, 187, 83, .7);
$c-overlay-8: rgb(211, 250, 153);
$c-shadow: #4a4646;
$c-lightgray: #e1e1e1;
$c-lightgray-1: #cccccc;

// FONTS
/*
*
*
* 
*/

// Z-INDEXES
/*
*
*
* 
*/